.dropdown{
    position: absolute;
    width: 560px;
    height: 42px;
    float: left;
    border-radius: 5px;
    margin: 18px 0 0 20px;
    background-color: #FFFFFF;
    .chosen-single div b {
	background: url(../images/dropdown_down_arrow.svg?v=0.1.0-SNAPSHOT) no-repeat !important;
	background-size: 15px !important;
	height: 12px;
	top: 15px;
	position: absolute;
	right: 10px;
    }
    a {
	color: #444 !important;
	display: flex !important;
	align-items: center;
	vertical-align: middle;
	font-size: 13px;
	zoom: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	height: 42px !important;
    }
}

.chosen-container-single .chosen-single{
    background: #fff !important;
}
.chosen-container-single .chosen-single span{
    font-size:14px;
}

.rc-dropdown.chosen-container.chosen-container-single.noselect.chosen-container-active.chosen-with-drop {
    a {
	border-color: $selected-filter-dark;
	border-style: solid solid none solid;
    }
    .chosen-drop {
	border-color: $selected-filter-dark;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;

	li {
	    margin-left:-5px;
	    line-height:30px !important;

	    &.highlighted{
		    color: #444;
		    background-image: linear-gradient($selected-filter 20%, $selected-filter 90%);
	    }
	}
	.chosen-results .active-result.group-option.highlighted{
	    font-weight: bold;
	    background: url(../images/checkbox_selected_20x20svg.svg) 90% 50% no-repeat !important;
	    margin-right: -45px;
	    background-size: 15px 15px !important;
	}
	.chosen-results .active-result.group-option.mouseover{
	    color: #444;
	    background-color: $selected-filter !important;
	}
	.chosen-results .active-result.group-option:hover{
	    color: #444;
	    background-color: $selected-filter !important;
	}
    }
}