.status-container {
    display:flex;
    float: left;
    height: 750px;
    width: 100%;
    justify-content:center;
    align-items:center;
}

.save-success {
    text-align:center;
    font-size: 16px;
    div {
        margin-left:auto;margin-right:auto;
        margin-top: 30px;
    }
    .back_btn {
	border-radius: 4px;
        width: 150px;
	cursor: pointer;
    }
}

.btn_supply_plan {
    padding: 10px 48px;
    background-color: #93715B;
    text-decoration: none;
    color: white;
    height: 40px;
    font-size: 14px;
    cursor: default;
}