/tools
/target
/lib
/classes
/out
/checkouts
pom.xml
*.css
*.jar
*.class
*.*~
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
/devenv.local*
.lein-repl-history
.nrepl-port
.sass-cache/
resources/public/vendor
resources/public/css/main.css*
resources/public/js
node_modules
bower_components
test/responsive/reports
*.log
\#*
.#*
\#*\#
.cache
/.idea
.DS_Store
the-numbers.iml
figwheel_server.log
.vscode*
pa